#cinemas{
  & .he-thong-rap{
    & .list-group-item {
      // border-style: none;
      // padding: 1vmax 0;
      text-align: center;
      // width: 75%;
      // margin: auto;
      & > img {
        max-width: 60px;
        max-height: 60px;
        width:5vmax;
        height:5vmax;
      }
    }
  }

  & .cum-rap, .lich-chieu-phim {
    max-height: 34vmax;
    overflow-y: scroll;
    overflow-x: hidden;
    // height:100%;
  }
}
